// Global Imports
@import 'breakpoints';
@import 'site-colors';

//
//
//
.text {
  margin-top: 2em;
  text-align: center;
  font-weight: lighter;
  color: $color--06;
  border: 2px solid $color--06;
  border-radius: 50px;
  padding: 1em;
  margin-bottom: -0.55em;
  position: relative;

  &::after {
    content: "";
    width: 0.75em;
    height: 0.75em;
    position: absolute;
    display: block;
    left: 3.3125em;
    bottom: -0.42em;
    border-top: 2px solid $color--06;
    border-left: 2px solid $color--06;
    border-bottom: 2px solid $color--02;
    border-right: 2px solid $color--02;
    background-color: $color--02;
    transform: rotate(-135deg);
    z-index: 1;
  }

}


//
//
//
// Small
// _________________________________________________________________________________________
@include sm {

  .text {
    font-size: 2em;
    margin-bottom: -2.05em;
  }

}
