<header class="header">
  <a
    routerLink=""
    tabindex="0"
    [class.header__logo--sticky]="stickyNav"
    class="header__logo">
    <svg
      id="Layer_1"
      data-name="Layer 1"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 294.33 280.58"
      class="header__icon">
      <defs>
        <style>.cls-1{fill:#010101;}</style>
      </defs>
      <polygon
        class="cls-1"
        points="45.18 0 95.9 105.31 147.75 0 192.16 89.59 95.9 280.58 0 89.59 45.18 0"/>
      <polygon
        class="cls-1"
        points="249.93 0 294.33 89.59 199.24 280.58 153.25 192.54 249.93 0"/>
    </svg>
    <span class="header__title">DoubleEue Design</span>
  </a>
  <ul class="header__socialIcons">
    <li>
      <a
        href="#"
        tabindex="0"
        class="header__socialIcon">
        Instagram
      </a>
    </li>
  </ul>
  <du-navigation class="header__nav">
  </du-navigation>
</header>
