<header class="header">
  <a
    routerLink=""
    tabindex="0"
    class="header__logo"
    [class.header__logo--sticky]="stickyNav">
    Home
  </a>
  <ul class="header__icons">
    <li>
      <a
        href="#"
        tabindex="0"
        class="header__icon">
        Facebook
      </a>
    </li>
    <li>
      <a
        href="#"
        tabindex="0"
        class="header__icon">
        Instagram
      </a>
    </li>
  </ul>
  <du-navigation class="header__nav">
  </du-navigation>
</header>
