// Global imports
@import 'breakpoints';

//
//
//
.form {
  display: grid;
  grid: repeat(4, auto) / 1fr;
  grid-gap: 0.5em;
  grid-template-areas: "inputLeft"
                      "inputRight"
                      "textarea"
                      "button";
  width: 100%;

  &__input {

    &:first-of-type {
      grid-area: inputLeft;
    }

    &:last-of-type {
      grid-area: inputRight;
    }

  }

  &__textarea {
    grid-area: textarea;
  }

  &__button {
    grid-area: button;
  }

}

//
//
//
// Small
// _________________________________________________________________________________________
@include sm {

  .form {
    grid: repeat(3, auto) / 1fr 1fr;
    grid-template-areas: "inputLeft inputRight"
                        "textarea textarea"
                        "button .";
  }

}
