@import 'scss/globals';

.wrapper {
  border: 1px solid;
  overflow: hidden;
  position: relative;
  height: 100px;
}

.item {
  border: 1px dotted red;
  text-align: center;
  margin: 10px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
