:host {
  align-items: center;
  display: flex;
  font-size: 1rem;
  position: fixed;
  top: 0;
  justify-content: center;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  overflow: auto;
  padding: 3em 0;
}
