// Global Imports
@import 'colors';
@import 'breakpoints';

//
//
//
.modal {
  background: lightgray;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 5em);
  position: relative;
  max-width: 50em;
  overflow: auto;
  padding: 1.2em;
  width: calc(100% - 5em);
  z-index: 1;

  &__title {
    border-bottom: 1px solid $color--03;
    margin-bottom: 0.9em;
    padding-bottom: 0.8em;
  }

  &__body {
    flex: 1;
  }

  &__close {
    position: absolute;
    top: 1em;
    right: 1em;
    height: 2em;
    width: 2em;
    overflow: hidden;
    cursor: pointer;

    &::before {
      transform: rotate(45deg);
      left: -33%;
    }

    &::after {
      transform: rotate(-45deg);
      left: 35%;
    }

    &::before,
    &::after {
      content: '';
      border-top: 1px solid $color--03;
      height: 100%;
      width: 100%;
      display: block;
      position: absolute;
      top: 0.7em;
    }

  }

}

@include md {

  .modal {
    height: auto;
  }

}
