<du-modal-container>
  <du-modal-container-title [innerHTML]="project?.title.rendered">
  </du-modal-container-title>
  <du-modal-container-body>
    <div
      [innerHTML]="project?.content.rendered"
      class="content">
    </div>
    <owl-carousel-o [options]="carouselOptions">
      <ng-template
        *ngFor="let item of project?.gallery"
        carouselSlide>
        <img
          [alt]="item.post_title"
          [src]="item.guid" />
      </ng-template>
    </owl-carousel-o>
  </du-modal-container-body>
</du-modal-container>
