<mat-drawer-container>
  <mat-drawer class="drawer">
    <nav
      [duMobileNavigation]="isExpanded"
      (toggleNavEmitter)="toggleNav()">
    </nav>
  </mat-drawer>
  <du-header (toggleNavEmitter)="toggleNav()"></du-header>
  <div
    *ngIf="onHomePage"
    [style.backgroundImage]="'url(' + banner.image.guid + ')'"
    [class.banner--stickyNav]="stickyNav"
    class="banner">
    <span
      (click)="scrollToWrapper(wrapper)"
      class="banner__arrow">
    </span>
  </div>
  <du-wrapper #wrapper>
    <router-outlet></router-outlet>
    <du-footer></du-footer>
  </du-wrapper>
</mat-drawer-container>
