// Global imports
@import 'breakpoints';

:host {
  $margin: 1.875em;
  font-size: 1rem;
  margin-left: -$margin;
  margin-right: -$margin;
}

//
//
//
// Small
// _________________________________________________________________________________________
@include sm {

  :host {
    margin-left: 0;
    margin-right: 0;
  }

}
