// Global Imports
@import 'breakpoints';

:host {
  font-size: 1rem;
  position: relative;
  z-index: 2;
}

//
//
//
// Truncated
// _________________________________________________________________________________________
:host(.duNavigation__sticky) {
  background-color: rgba(255, 255, 255, 0.8);
  position: fixed;
  left: 0;
  width: 100%;
}
