// Global imports
@import 'breakpoints';

//
//
//
:host {
  font-size: 1rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background: rgba(232, 232, 232, 0.9);
}

//
//
//
// Small
// _________________________________________________________________________________________
@include sm {

  :host {
    position: static;
  }

}
