// Global Imports
@import 'fonts';
@import 'breakpoints';
@import 'site-colors';

//
//
//
.nav {
  border-bottom: 1px solid $color--06;
  border-top: 1px solid $color--06;
  margin: 0 auto;
  display: none;

  &__list {
    align-items: center;
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin: 0 auto;
    text-align: center;
    padding: 0.5em 0;
    max-width: 1336px;
  }

  &__item {
    font-family: $text__fontFamily--01--01;
    font-size: $text__fontSize--01--05;
    list-style: none;
    padding: 0.5em 0;
    position: relative;
    transition: transform 0.2s;
  }

  &__link {
    color: $color--01;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    padding-bottom: 0.4em;
    outline: none;
    transition: color 0.3s ease;

    &--active,
    &:hover {
      color: $color--04;
    }

    &--logo {
      $size: 2.5em;
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1070.39 360.49'%3E%3Cdefs%3E%3Cstyle%3E.cls-1{fill:%23010101;}.cls-2{fill:none;}%3C/style%3E%3C/defs%3E%3Cpolygon class='cls-1' points='433.29 0 484 105.31 535.85 0 580.26 89.59 484 280.58 388.1 89.59 433.29 0'/%3E%3Crect class='cls-2' y='319.23' width='1070.39' height='41.25'/%3E%3Cpolygon class='cls-1' points='638.03 0 682.44 89.59 587.34 280.58 541.36 192.54 638.03 0'/%3E%3C/svg%3E");
      background-position: center;
      background-size: cover;
      display: block;
      height: $size;
      text-indent: -9999px;
      width: $size;
    }

  }

}

//
//
//
// Small
// _________________________________________________________________________________________
@include sm {

  .nav {
    display: block;
  }

}
