// Global imports
@import 'fonts';
@import 'breakpoints';

//
//
//
.nav {
  margin: 0 auto;
  max-width: 25em;
  overflow: hidden;

  &__list {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin: 0;
    flex-direction: column;
    text-align: center;
    padding: 1em 0;
  }

  &__item {
    padding: 0.5em 0;
    font-size: $text__fontSize--01--04;
    list-style: none;
  }

  &__link {
    text-decoration: none;
  }

}

//
//
//
// Small
// _________________________________________________________________________________________
@include sm {

  .nav {
    padding-top: 0;
    height: auto !important;

    &__list {
      flex-direction: row;
    }

  }

}
