// Global Imports
@import 'breakpoints';
@import 'fonts';
@import 'list-reset';
@import 'site-colors';

//
//
//
.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;

  // Logo
  &__logo {
    font-family: $text__fontFamily--01--01;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1070.39 366.02'%3E%3Cdefs%3E%3Cstyle%3E.cls-1{fill:%23010101;}.cls-2{fill:none;}.cls-3{font-size:45px;fill:%23231f20;font-family:CenturyGothic, Century Gothic;}%3C/style%3E%3C/defs%3E%3Cpolygon class='cls-1' points='433.29 0 484 105.31 535.85 0 580.26 89.59 484 280.58 388.1 89.59 433.29 0'/%3E%3Crect class='cls-2' y='319.23' width='1070.39' height='41.25'/%3E%3Cpolygon class='cls-1' points='638.03 0 682.44 89.59 587.34 280.58 541.36 192.54 638.03 0'/%3E%3Ctext class='cls-3' transform='translate(336.27 339.54)'%3EDoubleEue Design%3C/text%3E%3C/svg%3E");
    display: block;
    text-align: center;
    margin: 2em auto;
    width: 13em;
    height: 12em;
    background-size: cover;
    background-position: center;
    order: 1;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    outline: none;
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 0.7;
    }

  }

  // Nav
  &__nav {
    order: 0;
  }

  // Social Media Icons
  &__icons {
    @include list_reset;
    display: flex;
    position: absolute;
    top: 0.5em;
    right: 1em;

    li {
      fill: $color--04;

      &:first-of-type  {
        background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='UTF-8'?%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg enable-background='new 0 0 510 510' version='1.1' viewBox='0 0 510 510' xml:space='preserve' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M459,0H51C22.95,0,0,22.95,0,51v408c0,28.05,22.95,51,51,51h408c28.05,0,51-22.95,51-51V51C510,22.95,487.05,0,459,0z M433.5,51v76.5h-51c-15.3,0-25.5,10.2-25.5,25.5v51h76.5v76.5H357V459h-76.5V280.5h-51V204h51v-63.75 C280.5,91.8,321.3,51,369.75,51H433.5z'/%3E%3C/svg%3E");
        margin-right: 1em;
      }

      &:last-of-type {
        background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg preserveAspectRatio='xMidYMid' version='1.1' viewBox='0 0 256 256' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m128 23.064c34.178 0 38.226 0.13007 51.723 0.74589 12.48 0.56958 19.257 2.6548 23.768 4.4072 5.9742 2.322 10.239 5.0962 14.718 9.5751s7.2531 8.7433 9.5746 14.718c1.7529 4.5109 3.8382 11.288 4.4077 23.768 0.61581 13.498 0.74589 17.546 0.74589 51.723 0 34.178-0.13007 38.226-0.74589 51.723-0.56958 12.48-2.6548 19.257-4.4077 23.768-2.3215 5.9742-5.0957 10.239-9.5746 14.718s-8.7433 7.2531-14.718 9.5746c-4.5109 1.7529-11.288 3.8382-23.768 4.4077-13.495 0.61581-17.543 0.74589-51.723 0.74589-34.18 0-38.228-0.13007-51.723-0.74589-12.48-0.56958-19.257-2.6548-23.768-4.4077-5.9747-2.3215-10.239-5.0957-14.718-9.5746s-7.2531-8.7433-9.5746-14.718c-1.7529-4.5109-3.8382-11.288-4.4077-23.768-0.61581-13.498-0.74589-17.546-0.74589-51.723 0-34.178 0.13007-38.226 0.74589-51.723 0.56958-12.48 2.6548-19.257 4.4077-23.768 2.3215-5.9742 5.0957-10.239 9.5746-14.718s8.7433-7.2531 14.718-9.5751c4.5104-1.7524 11.288-3.8377 23.767-4.4072 13.498-0.61581 17.546-0.74589 51.723-0.74589m0-23.064c-34.763 0-39.121 0.14735-52.774 0.77027-13.625 0.62191-22.929 2.7854-31.071 5.9498-8.4171 3.2711-15.555 7.6479-22.671 14.764s-11.493 14.254-14.764 22.671c-3.1644 8.1423-5.3279 17.447-5.9498 31.071-0.62293 13.652-0.76977 18.011-0.76977 52.774 0 34.763 0.14684 39.122 0.76977 52.774 0.62191 13.625 2.7854 22.929 5.9498 31.071 3.2711 8.4166 7.6479 15.555 14.764 22.671s14.254 11.493 22.671 14.764c8.1423 3.1644 17.447 5.3279 31.071 5.9498 13.653 0.62293 18.011 0.76977 52.774 0.76977 34.763 0 39.122-0.14684 52.774-0.76977 13.625-0.62191 22.929-2.7854 31.071-5.9498 8.4171-3.2711 15.555-7.6479 22.671-14.764s11.493-14.254 14.764-22.671c3.1644-8.1423 5.3279-17.447 5.9498-31.071 0.62293-13.652 0.77028-18.011 0.77028-52.774 0-34.763-0.14735-39.122-0.77028-52.774-0.62191-13.625-2.7854-22.929-5.9498-31.071-3.2711-8.4171-7.6479-15.555-14.764-22.671s-14.254-11.493-22.671-14.764c-8.1423-3.1644-17.447-5.3279-31.071-5.9498-13.652-0.62293-18.011-0.77027-52.774-0.77027zm0 62.27c-36.301 0-65.73 29.428-65.73 65.73s29.428 65.73 65.73 65.73 65.73-29.428 65.73-65.73-29.428-65.73-65.73-65.73zm0 108.4c-23.564 0-42.667-19.103-42.667-42.667s19.103-42.667 42.667-42.667 42.667 19.103 42.667 42.667-19.103 42.667-42.667 42.667zm83.687-110.99c0 8.4832-6.8766 15.36-15.36 15.36s-15.36-6.8771-15.36-15.36 6.8771-15.36 15.36-15.36 15.36 6.8766 15.36 15.36z' fill='%230A0A08'/%3E%3C/svg%3E");
      }

    }

  }

  &__icon {
    $size: 1.5em;
    text-indent: -9999px;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    text-decoration: none;
    width: $size;
    height: $size;
  }

}

//
//
//
// Small
// _________________________________________________________________________________________
@include sm {

  .header__nav {
    order: 1;
  }

}

//
//
//
// Medium
// _________________________________________________________________________________________
@include md {

  .header__logo {
    order: 0;
  }

}


