// Global Imports
@import 'colors';

//
//
//
.trigger {
  $size: 4em;
  background-color: rgba($color--02, 0.8);
  border: none;
  border-radius: 50%;
  height: $size;
  position: absolute;
  outline: none;
  overflow: hidden;
  top: 50%;
  transform: translateY(-50%) scale(0.7);
  transition: 0.2s ease-in;
  width: $size;

  &::before {
    border-color: $color--03;
    border-style: solid;
    border-width: 0.25em 0.25em 0 0;
    content: "";
    display: inline-block;
    height: 0.45em;
    vertical-align: top;
    width: 0.45em;
    top: 1.7em;
    position: absolute;
  }

  &:hover {
    transform: translateY(-50%) scale(0.9);
  }

  &--previous {
    left: 0;

    &::before {
      left: 1.8em;
      transform: rotate(-135deg);
    }

  }

  &--next {
    right: 0;

    &::before {
      left: 1.5em;
      transform: rotate(45deg);
    }

  }

  &__text {
    display: block;
    text-indent: -9999px;
  }

}
