<div class="trigger">
  <button
    (click)="triggerMobileNav()"
    class="trigger__item">
    <span class="trigger__bar"></span>
    <span class="trigger__bar"></span>
    <span class="trigger__bar"></span>
  </button>
</div>
<nav
  [@expandHeightShowHide]="{
    value: animationState,
    params: { collapsedHeight: '0px' }
  }"
  class="nav">
  <ul class="nav__list">
    <li class="nav__item">
      <a
        tabindex="0"
        class="nav__link">
        Shop
      </a>
    </li>
    <li class="nav__item">
      <a
        tabindex="0"
        class="nav__link">
        About Me
      </a>
    </li>
    <li class="nav__item">
      <a
        tabindex="0"
        class="nav__link">
        Contact
      </a>
    </li>
  </ul>
</nav>
