<div class="trigger">
  <button
    (click)="toggleMobileNav()"
    class="trigger__item">
    <span class="trigger__bar"></span>
    <span class="trigger__bar"></span>
    <span class="trigger__bar"></span>
  </button>
</div>

<nav class="nav">
  <ul class="nav__list">
    <li class="nav__item">
      <a
        tabindex="0"
        class="nav__link">
        Shop
      </a>
    </li>
    <li class="nav__item">
      <a
        routerLink="about"
        tabindex="0"
        class="nav__link">
        About Me
      </a>
    </li>
    <li class="nav__item">
      <a
        routerLink="contact"
        tabindex="0"
        class="nav__link">
        Contact
      </a>
    </li>
  </ul>
</nav>
