<div class="trigger">
  <button
    (click)="toggleMobileNav()"
    class="trigger__item">
    <span class="trigger__bar"></span>
    <span class="trigger__bar"></span>
    <span class="trigger__bar"></span>
  </button>
</div>

<nav class="nav">
  <ul class="nav__list">
    <li class="nav__item">
      <a
        [matMenuTriggerFor]="menu"
        tabindex="0"
        class="
          nav__link
          nav__link--menu">
        Shop
      </a>
      <mat-menu #menu="matMenu">
        <button
          *ngFor="let item of productNavItems"
          mat-menu-item
          [routerLink]="item.url.split('/')[productNavItems.length + 2]">
          {{ item.title }}
        </button>
      </mat-menu>
    </li>
    <li
      *ngFor="let item of navItems"
      class="nav__item">
      <a
        [routerLink]="item.url.split('/')[navItems.length + 2]"
        routerLinkActive="nav__link--active"
        tabindex="0"
        class="nav__link">
        {{ item.title }}
      </a>
    </li>
  </ul>
</nav>
