// Global Imports
@import 'variables/site-colors';

//
//
//
* {
  box-sizing: border-box;
}

html {
  background-color: $color--02;
  background-position: center center;
  background-size: cover;
  font-size: 100%;
  margin: 0;
  padding: 0;
  transition: font-size 0.25s ease-out;
}

a {
  color: $color--04;
  transition: color 0.3s ease;

  &:hover {
    color: rgba($color--04, 0.7);
  }

}

p {
  line-height: 1.4;
}
