// ignore-audit

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Header height
$header-height: 286px;

// Footer height
$footer-height: 130px;

// Page Content height
$page-content-height: calc(100vh - (#{$header-height} + #{$footer-height}));

// Content min-width
$content-min-width: 60em;
