@import 'breakpoints';

.products {
  display: grid;
  grid-gap: 10px;
}

//
//
//
// Small
// _________________________________________________________________________________________
@include sm {

  .products {
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  }

}

//
//
//
// Medium
// _________________________________________________________________________________________
@include md {

  .products {
    grid-template-columns: repeat(auto-fill, minmax(33%, 1fr));
  }

}

//
//
//
// Large
// _________________________________________________________________________________________
@include lg {

  .products {
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  }

}
